/* ---- ---- BODY ---- ---- */
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ---- ---- HEADER ---- ---- */
.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 8px;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    margin-left: 100px;
    flex: 1;
    display: flex;
    justify-content: start;
    
}

ul { 
    list-style-type: none;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
    display: flex;
    justify-content: start;
}

a, 
.hero-about { 
    color: #E5E7EB;
    font-size: 16px;
    text-decoration: none;
}

/* ---- ---- HERO BANNER ---- ---- */
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 30px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    padding-left: 0px;
    margin-left: 100px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    
}

.img {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

img {
    width: 320px;
}

button {
    background: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

/* ---- ---- MAIN BANNER ---- ---- */

/* align content with flex content and center it */
.main-banner {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* add margin-top so there is some space above */
.main-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 24px;
}

/* align the cards in a row with flex */
/* add flex-wrap to them */
/* add margin so they never touch edges */
.cards {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
    flex-wrap: wrap;
}

/* flex 0 so the block with content doesnt change */
.block {
    flex: 0;
    text-align: center; 
    padding: 8px;
}

/* style card border and size where image would be */
.card {
    /* flex-basis: 50px; */
    border: solid #3882F6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    
}


.card-text {
    font-size: 18px;

}

/* ---- ---- QUOTE BANNER ---- ---- */

/* removed hero wrap */
 /* flex inside container */
.quote-banner {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* align items with flex column */
.quote-block {
    flex-basis: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 100px;
    margin: 32px;
}


.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin-bottom: 0px;
}

/* align author on right, remove top margin */
.author {
    margin-top: 0px;
    align-self: end;
    font-weight: 800;
}

/* ---- ---- ACTION BANNER ---- ---- */
.action-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.action-block {
    background-color: #3882F6;
    display: flex;
    border-radius: 10px;
}

.action-text {
    flex: 1;
    color: #E5E7EB;
    font-size: 16px;
    margin: 32px 96px;

}

.action-title {
    margin: 0px;
    font-weight: 600;
    align-self: start;
}

.action-instruction {
    margin: 0px;
}

.signup {
    margin: 16px;
}



/* ---- ---- FOOTER ---- ---- */
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
    margin-bottom
    flex: 1;
}