/* ---- ---- BODY ---- ---- */
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* ---- ---- HEADER ---- ---- */
.header {
    background-color: #1F2937;
    
    display: flex;
    align-items: center;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    flex: 1;
    display: flex;
    justify-content: center;
    
}

ul { 
    list-style-type: none;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
    display: flex;
    justify-content: center;
}

a, 
.hero-about { 
    color: #E5E7EB;
    font-size: 16px;
    text-decoration: none;
}

/* ---- ---- HERO BANNER ---- ---- */
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
}

/* ---- ---- MAIN BANNER ---- ---- */
.main-banner {
    background-color: white;
}

.main-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.card-text {
    font-size: 18px;
    
}

/* ---- ---- QUOTE BANNER ---- ---- */
.quote-banner {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.author {
    font-weight: 800;
}

/* ---- ---- ACTION BANNER ---- ---- */
.action-banner {
    background-color: #3882F6;
}

.action-text {
    color: #E5E7EB;
    font-size: 16px;
}

/* ---- ---- FOOTER ---- ---- */
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
    margin-bottom
    flex: 1;
}